@import './config';
@import './md';

body {
  background: $bg;
  color: $color;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}

a {
  cursor: pointer;
  text-decoration: none;
  outline: none;
}

input,
button,
select {
  margin: 0.5em;
  color: #ccc;
  border: $border;
  border-radius: 2px;
  cursor: pointer;
  background-color: #333;
  font-size: 1em;
}

input:hover,
button:hover,
select:hover {
  color: #fff;
}

input:disabled,
button:disabled,
select:disabled {
  border-color: $bgDisabled;
  background-color: $bgDisabled;
  color: $colorDisabled;
  cursor: not-allowed;
}

.router-link,
.router-link-active {
  font-size: 2em;
  margin-right: 0.5em;
  color: $color2;
  text-decoration: none;
}

.router-link-active {
  font-weight: bold;
  border-bottom: $border;
}

.unsaved {
  color: $colorError;
}

.clickable {
  cursor: pointer;
}

.error {
  color: $colorError;
}

.warning {
  color: $colorWarning;
}

.logo {
  color: $color2;
  cursor: help;
}

.deviceList {
  border-top: $border;
  max-width: 23em;
  display: block;
  .list {
    select {
      width: 10em;
    }
  }
}

.draggable {
  cursor: grab;
}

.draggable:active {
  cursor: grabbing;
}

.dragStart {
  opacity: 0.1;
}

.dragEnter {
  background-color: $color2;
}

@keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
.rotating {
  animation: rotating 2s linear infinite;
}
